# use glob syntax.
syntax: glob
*.pyc
*.swp
*.vimsession
*~
distribute-0.6.10.tar.gz
lextyrtab.py
parsetyrtab.py
docs/_build
pluggdapps.egg-info/*
build/
dist/

# switch to regexp syntax.
syntax: regexp
^\.pc/
^pa-env/*
^eggs/*
^_build/*
^dist/*
