recursive-include pluggdapps/webadmin/static *
recursive-include pluggdapps/webadmin/templates *
recursive-include pluggdapps/scaffolds/newapp_template *
recursive-include pluggdapps/scaffolds/env_template *
