body {
    width : 80%; margin : 0px auto;
}
div.header {
    height : 92px;
}
div.header img {
    float : right;
}
div.title {
    font-size : xx-large;
    color : brown;
    margin-top : 20px;
    float : left;
}
ul.debuglist {
    list-style: none; float : left;
    margin : 0px; padding: 0px;
}
ul.debuglist li {
    background-color : #444;
    color : white;
    padding: 3px;
}
div.content {
    margin-left : 10%;
}

